aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
cleo==1.0.0a3
click==8.0.3
colorama==0.4.4
crashtest==0.3.1
deezer-py==1.2.2
discord==1.7.3
discord.py==1.7.3
idna==3.3
multidict==5.2.0
mutagen==1.45.1
pathvalidate==2.5.0
Pillow==8.4.0
pycryptodomex==3.11.0
pylev==1.4.0
python-dotenv==0.19.1
requests==2.26.0
streamrip==1.1
tomlkit==0.7.2
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
yarl==1.7.0
